<p style="color: green"><%= notice %></p>

<% if current_user %>
  <p>Welcome, user!</p>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <p>Welcome, newbie!</p>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
<% end %>

<div>
  <%= link_to "New post", new_post_path %>
</div>

<h1>All Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
