<p style="color: green"><%= notice %></p>
<h1>Clubhouse: Members Only! </h1>
<% if current_user %>
  <p>Welcome, back user :)</p>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <p>Welcome, newbie!</p>
  <%= link_to "Sign In", new_user_session_path, method: :get %>
<% end %>

<div>
  <%= link_to "New post", new_post_path %>
</div>

<h1>All Posts</h1>

<div id="posts">
  <% @posts.reverse_each do |post| %>
    <% if current_user %>
      <p>Name: <%= post.name %></p>
    <% end %>
    <p>Title: <%= post.title %></p>
    <p><%= post.content %></p>
    <p>Posted: <%= post.created_at %></p>
    <hr>
  <% end %>
</div>
